*{
  box-sizing: border-box;
  font-family: DM sans;
}

body{
  margin: auto;
}

.side_bar{
background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%);
width: 25%;
height: 100vh;
gap: 10px;
opacity: 0px;
border: 1px solid #FFFFFF2B;
display: flex;
flex-direction: column;
justify-content: space-between;
position:sticky;
inset: 0;


}

h3{
color: #FFFF;
font-size: 23px;
font-weight: 300;
line-height: 28.75px;
text-align: left;

}

h2{
color: #FFFF;
font-size: 23px;
font-weight: 700;
line-height: 28.75px;
text-align: left;

}
h5{
font-size: 16px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFFB2;
/* color: #4318FF; */

}
.menu button {
  background-color: transparent;
  border: none;
}

.content i{
  color: #FFFFFFB2;
}

.menu button:hover{
  color: #FFFF;
}

.mainpage{
  background: #F4F7FE; 
}
.search_bar{
  background-color: #FFF;
  
}
  

.mainpage container h4{
  color: #2B3674;
font-size: 34px;
font-weight: 700;
line-height: 42px;
letter-spacing: -0.02em;
text-align: left;

}

.emple_option h4{
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;

}

.emple_option h6{
font-family: Open Sans !important;
font-size: 14px;
font-weight: 600;
line-height: 19.07px;
text-align: left;
color: #333333;
display: flex;
align-items: center;

}

.bi bi-chevron-down{
align-items: center;
display: flex;
justify-content: center;
}

small{
color: #707EAE;
font-size: 14px;
font-weight: 500;
line-height: 24px;
text-align: left;


}

.search{
  background-color:transparent;
  color: #8F9BBA;
  border: none;
  
}

.notification{
  background-color:  #F4F7FE;
  align-items: center;
  border-radius: 15px;
  

}

.rounded-pill{
 display: flex;
 align-items: center;
 color: #A3AED0; 
 gap: 11px;
 padding: 3px 7px;
}

.profile_pic{
  border-radius: 20px;
}

.employee_list{
  background: #FFF;
  border-radius: 15px;
}

.emple_option h4{
color: #2B3674;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;

}

.table td{
color:#2B3674;
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;

}

.table th{
color:#8B95B7;
font-size: 14px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;

}

.btn-btn-lg{
  background-color: #4318FF !important;
  display: flex;
  color: white;
  align-items: center;
  border: none;
  border-radius: 17px;
  
}

#saveChange{
  background-color: #4318FF !important;
  display: flex;
  color: white;
  align-items: center;
  border: none;
  border-radius: 17px;
  
}
.emple_option d-flex{
  gap: 50pxpx;
}

.button-transparent{
background-color: transparent;
border-color: transparent1px solid;
color: #2B3674; 
font-size: 15px;
font-weight: 500;
border: none; 
border-radius: 16px; 
background-color: #FAF9FF;
  
}
.emple_option{
gap: 7px;
align-items: center;
display: flex;
justify-content: center;
}
.entries{
color: #FFFFFF;
border-color:1px solid #DDDDDD;
display: flex;
align-items: center;
justify-content: center;


}

.entries select{
padding: 5px 10px;
border: 1px solid #DDDDDD;
 color: #333333;
outline: none;
transition: 0.3s;
cursor: pointer;
border-radius: 5px;

}

.footer{
margin-top:  25px;
font-size: 16px;
display: flex;
justify-content: space-between;
align-items: center;
}

.pagination button{
width: 40px;
padding: 5px 0;
background-color: transparent;
font-size: 16px;
cursor: pointer;
pointer-events: auto;
outline: none;
border: 1px solid #F1F1F1;
border-left: none;
color: #333333;
border: none;
display: flex;
}

.pagination{
display: flex;
justify-content: flex-end;
}


.pagination button:disabled {
color: #ccc;
cursor: not-allowed;
}

.pagination button:hover {
background-color: #4318FF;
color: white;
}

.footer {
font-size: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
}

.button{
  display: flex;
  justify-content: end;
}


/* bootstrap css */

*{
  box-sizing: border-box;
   font-size: Dm Sans;
   /* margin: 0%; */
  }

 body{
   background: #E9EDF2;
   

 }
.form-label::after {
   content: " * ";
   color: red;
 }
 .star{
   color: red;
 } 
.form-label{
   color: #2B3674;
   font-size: 14px;
   font-weight: 500;
 } 

 .form-select{
  font-size: 12px;
  font-weight: 400;
  color:  #949DB9;
 }


.form-check-label{
 color: #2B3674;
} */

.form-control::placeholder{ 
 color: #949DB9;
}

.alert-warning{
 font-size: 12px;
 font-weight: 700;
} 

.placeholder{
color: #2B3674;

}  


.form-control {
padding: 8px 12px;
border-radius: 5px;
font-size: 12px;
font-weight: 400;
color:  #949DB9;;
/* border: 1px solid #DDDDDD; */
}


.btn-btn-lg {
background-color: #4318FF !important;
color: white;
border-radius: 17px;
padding: 10px 20px;
}


.form_head{
  color: #4318FF;
}

.menu button:hover {
color: #4318FF;  /* Change text color on hover */
background-color: rgba(255, 255, 255, 0.1);  /* Background color change on hover */
}

.powered_by {
margin-top: 250px; /* Pushes the "Powered by" text to the bottom */
text-align: center;
/* padding: 10px; */
}


#editEmployeeModal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000005d;
  padding: 30px;
   z-index: 9999 ;
   min-height: 100vh;
   overflow-y: auto;
   display: none;
}

#editEmployeeModal #edit_employee{
  max-width: 800px;
  margin: auto;
  
 
}

#addEmployeeModal{
  display: none;
}
